.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.logo {
  font-size: 1.9rem;
  color: #eeeeee;
  margin-left: 4rem;
  font-weight: bold;
}

.list {
  display: flex;
  gap: 1rem;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--color-primary-400);

    &:hover,
    &.active {
      color: var(--color-primary-800);
      text-decoration: underline;
    }

  }
}