.calendar-container {
  width: 80%;
  margin: 40px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .select-group {
    display: flex;
    gap: 10px;

    select {
      padding: 5px 10px;
      border-radius: 4px;
      border: 1px solid #bbb;
      background-color: white;
      font-size: 14px;
      color: black;
    }
  }
}

.calendar-table {
  border-collapse: collapse;
  text-align: center;

  th {
    background-color: #f1f1f1;
    padding: 8px;
  }

  td {
    border: 1px solid #ddd;
    height: 100px;
    vertical-align: top;
    position: relative;
    font-size: 14px;
    width: 14%;

    .date {
      font-weight: bold;
      margin: 4px;
    }

    .empty {
      color: #bbb;
      margin-top: 8px;
    }

    .meeting-list {
      text-align: left;
      margin-top: 5px;

      .meeting-item {
        border-left: 3px solid #5d5de7;
        padding-left: 5px;
        margin-bottom: 4px;

        .dept {
          color: #3333cc;
          font-weight: 600;
          margin: 0;
          font-size: 13px;
        }

        .time {
          color: #555;
          font-size: 12px;
          margin: 0;
        }
      }
    }
  }
}
